# Data Structure in Python

# list
1. Ordered
2. Changeable
3. Allow Duplicate

In [1]:
l1=['data', 'science', 1,2,3,4,88,True, False, [1,2,3,4]]
l1

['data', 'science', 1, 2, 3, 4, 88, True, False, [1, 2, 3, 4]]

In [2]:
import sys
sys.getsizeof(l1)

136

In [3]:
t1=('data', 'science', 1,2,3,4,88,True, False, [1,2,3,4])
t1

('data', 'science', 1, 2, 3, 4, 88, True, False, [1, 2, 3, 4])

In [4]:
sys.getsizeof(t1)

120

In [5]:
t1[-1]

[1, 2, 3, 4]

In [6]:
l1[0]

'data'

In [7]:
l1[0]= 'science'

In [8]:
l1

['science', 'science', 1, 2, 3, 4, 88, True, False, [1, 2, 3, 4]]

In [9]:
#t1[0]='science'

In [10]:
l1[3]

2

In [11]:
l1[3:4] # colon means 3 to 4 index

[2]

In [12]:
l1

['science', 'science', 1, 2, 3, 4, 88, True, False, [1, 2, 3, 4]]

In [13]:
l1.append('salman')

In [14]:
l1

['science', 'science', 1, 2, 3, 4, 88, True, False, [1, 2, 3, 4], 'salman']

In [15]:
l1.insert(3, 'Teacher')
l1

['science',
 'science',
 1,
 'Teacher',
 2,
 3,
 4,
 88,
 True,
 False,
 [1, 2, 3, 4],
 'salman']

In [16]:
l1.index('Teacher')

3

In [17]:
l2=l1

In [18]:
l2.remove('science') #delete by value

In [19]:
l2

['science', 1, 'Teacher', 2, 3, 4, 88, True, False, [1, 2, 3, 4], 'salman']

In [20]:
l1

['science', 1, 'Teacher', 2, 3, 4, 88, True, False, [1, 2, 3, 4], 'salman']

In [21]:
id(l1)

2021170392512

In [22]:
id(l2)

2021170392512

In [23]:
l1[2:5]

['Teacher', 2, 3]

In [24]:
l1[-2]

[1, 2, 3, 4]

In [25]:
string='I like data science'
string.split()

['I', 'like', 'data', 'science']

In [26]:
data=string.split()

In [59]:
for x in range (len(data)):
    print(data[x])

I
like
data
science

In [28]:
for x in range (len(data)):
    print(data[x])

I
like
data
science

In [29]:
l2

['science', 1, 'Teacher', 2, 3, 4, 88, True, False, [1, 2, 3, 4], 'salman']

In [30]:
l2.pop(-2) # delete by index

[1, 2, 3, 4]

In [31]:
l2

['science', 1, 'Teacher', 2, 3, 4, 88, True, False, 'salman']

In [32]:
l3=l2.copy() #to copy ignore this problem use copy

In [33]:
l3.remove('Teacher')
l3

['science', 1, 2, 3, 4, 88, True, False, 'salman']

In [34]:
l2

['science', 1, 'Teacher', 2, 3, 4, 88, True, False, 'salman']

In [35]:
del l2[9]

In [36]:
l2

['science', 1, 'Teacher', 2, 3, 4, 88, True, False]

In [37]:
 l4=[1,2,5,5,12,7]

In [38]:
l4.sort()
l4

[1, 2, 5, 5, 7, 12]

In [39]:
l4.reverse()
l4

[12, 7, 5, 5, 2, 1]

In [40]:
l4.count(1)

1

In [41]:
print(l4.count(1))

1

In [42]:
l4.clear()

In [43]:
l4

[]

In [44]:
 l4=[1,2,5,5,12,7]

In [45]:
total=0
for x in l4:
    total+=x
print(total)

32

In [46]:
total=0
for x in l4:
    total=x+total
    print(total)

1
3
8
13
25
32

# Input Fanction

In [47]:
x=10
y=20
x+y

30

In [48]:
x=input()
y=input()
x+y

10
20

'1020'

In [49]:
x=int(input('Please Enter 1st Number \n'))
y=int(input('Ente the 2nd Number\n'))
x+y

Please Enter 1st Number
20
Ente the 2nd Number
20

40

# list input

In [50]:
list1=[]
n=int(input('Enter the number of input'))
for i  in range(n):
    print('Enter the list value')
    new_element=input()
    list1.append(new_element)
    print(list1)

Enter the number of input12
Enter the list value
21
['21']
Enter the list value
1
['21', '1']
Enter the list value
1
['21', '1', '1']
Enter the list value
1
['21', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']
Enter the list value
1
['21', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']

# Tuple in python

In [3]:
tup1=('data science',)
type(tup1)

tuple

In [4]:
tup1=('data science','ML')

In [5]:
tup1

('data science', 'ML')

In [7]:
tup2=list(tup1)

In [8]:
tup2

['data science', 'ML']

In [9]:
tup2[0]=2

In [10]:
tup1=tuple(tup2)

In [13]:
tup1

(2, 'ML')

In [14]:
type(tup1)

tuple

In [15]:
'ML' in tup2

True

In [16]:
3 in tup2

False

In [19]:
slic = tup1[1:2]

In [20]:
slic

('ML',)

In [21]:
tup1[:1] + tup1[1:2]

(2, 'ML')

# SET{}

1. unodered
2. Unchangeable
3. Duplicate value not allowed

In [2]:
s1 = {1,2,3,4,4,34,6}
s2 = {'machine', 'learning', 'data science'}

In [3]:
s1

{1, 2, 3, 4, 6, 34}

In [3]:
s2

{'data science', 'learning', 'machine'}

In [4]:
s1.intersection(s2)

set()

In [5]:
s2={2,3,4,4,34,16}

In [6]:
s2

{2, 3, 4, 16, 34}

In [7]:
s1.intersection(s2)

{2, 3, 4, 34}

In [8]:
s1.union(s2)

{1, 2, 3, 4, 6, 16, 34}

In [9]:
s1 | s2

{1, 2, 3, 4, 6, 16, 34}

In [10]:
s1 & s2

{2, 3, 4, 34}

In [11]:
s1.add(23)

In [12]:
s1

{1, 2, 3, 4, 6, 23, 34}

In [16]:
s1.remove(6)

In [17]:
s1

{1, 2, 3, 4, 23, 34}

In [19]:
s1.clear()

In [20]:
s1

set()

# Array

In [21]:
import array as ar

In [22]:
array=ar.array('i',[1,2,5,7,9,10])

In [23]:
array

array('i', [1, 2, 5, 7, 9, 10])

In [24]:
array=ar.array('f',[1,2,5,7,9,10])

In [25]:
array

array('f', [1.0, 2.0, 5.0, 7.0, 9.0, 10.0])

In [26]:
array.insert(1,10) # 1 is position and 10 is value

In [27]:
array

array('f', [1.0, 10.0, 2.0, 5.0, 7.0, 9.0, 10.0])

In [28]:
array.reverse()

In [29]:
array

array('f', [10.0, 9.0, 7.0, 5.0, 2.0, 10.0, 1.0])

In [30]:
array.count(10)

2

# Dictionary

1. Changeable
2. Duplicate value not allowed

In [1]:
dic={
    'name': 'salman',
    'varsity':  'CU',
    'year':'2022'
}

In [2]:
dic

{'name': 'salman', 'varsity': 'CU', 'year': '2022'}

In [3]:
dic.keys()

dict_keys(['name', 'varsity', 'year'])

In [4]:
dic.values()

dict_values(['salman', 'CU', '2022'])

In [5]:
dic['varsity']='Future U'

In [6]:
dic

{'name': 'salman', 'varsity': 'Future U', 'year': '2022'}

In [9]:
list(dic.values())

['salman', 'Future U', '2022']

In [11]:
set(dic.values())

{'2022', 'Future U', 'salman'}

In [12]:
dic.pop('varsity')

'Future U'

In [13]:
dic

{'name': 'salman', 'year': '2022'}

In [14]:
dic.pop('name')

'salman'

In [15]:
dic

{'year': '2022'}

# DataFrame

In [16]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [17]:
import pandas as pd

In [18]:
li=['data', 'science', 'ml']

In [19]:
df=pd.DataFrame(li)

In [20]:
df

         0
0     data
1  science
2       ml

In [23]:
df=pd.DataFrame(li, columns=['dept'])

In [24]:
df

      dept
0     data
1  science
2       ml

In [25]:
df.shape  #row3, columns

(3, 1)

In [26]:
row,col=df.shape

In [27]:
row

3

In [28]:
col

1

In [34]:
df2=pd.DataFrame(li, columns=['dept_name'])

In [35]:
df2

  dept_name
0      data
1   science
2        ml

In [36]:
df+df2

  dept dept_name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [37]:
df

      dept
0     data
1  science
2       ml

In [38]:
df2

  dept_name
0      data
1   science
2        ml

In [42]:
df=pd.concat([df,df2], axis=1)

In [45]:
df

      dept dept_name dept_name
0     data      data      data
1  science   science   science
2       ml        ml        ml

In [47]:
df.drop([0,1], inplace=True)

In [48]:
df

  dept dept_name dept_name
2   ml        ml        ml